<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.applicationLaunchType">
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.AUTO_SOLIB" value="true"/>
<listAttribute key="org.eclipse.cdt.dsf.gdb.AUTO_SOLIB_LIST"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="gdb"/>
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_ON_FORK" value="false"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.GDB_INIT" value=".gdbinit"/>
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.NON_STOP" value="false"/>
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.REVERSE" value="false"/>
<listAttribute key="org.eclipse.cdt.dsf.gdb.SOLIB_PATH"/>
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.internal.ui.launching.LocalApplicationCDebuggerTab.DEFAULTS_SET" value="true"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="gdb"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="/home/cristhian/Dropbox/workspaceED/listas00/Debug/listas00"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="listas00"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="cdt.managedbuild.config.gnu.exe.debug.1279459560"/>
<booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/listas00"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DBUS_SESSION_BUS_ADDRESS" value="unix:path=/run/user/1000/bus"/>
<mapEntry key="DESKTOP_SESSION" value="/usr/share/xsessions/plasma"/>
<mapEntry key="DISPLAY" value=":0"/>
<mapEntry key="GPG_AGENT_INFO" value="/run/user/1000/gnupg/S.gpg-agent:0:1"/>
<mapEntry key="GS_LIB" value="/home/cristhian/.fonts"/>
<mapEntry key="GTK2_RC_FILES" value="/etc/gtk-2.0/gtkrc:/home/cristhian/.gtkrc-2.0:/home/cristhian/.config/gtkrc-2.0"/>
<mapEntry key="GTK_MODULES" value="gail:atk-bridge"/>
<mapEntry key="GTK_RC_FILES" value="/etc/gtk/gtkrc:/home/cristhian/.gtkrc:/home/cristhian/.config/gtkrc"/>
<mapEntry key="HOME" value="/home/cristhian"/>
<mapEntry key="KDE_FULL_SESSION" value="true"/>
<mapEntry key="KDE_MULTIHEAD" value="false"/>
<mapEntry key="KDE_SESSION_UID" value="1000"/>
<mapEntry key="KDE_SESSION_VERSION" value="5"/>
<mapEntry key="LANG" value="es_CO.UTF-8"/>
<mapEntry key="LANGUAGE" value="es_CO:es"/>
<mapEntry key="LOGNAME" value="cristhian"/>
<mapEntry key="PAM_KWALLET5_LOGIN" value="/tmp/kwallet5_cristhian.socket"/>
<mapEntry key="PATH" value="/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games"/>
<mapEntry key="PWD" value="/home/cristhian"/>
<mapEntry key="QT_ACCESSIBILITY" value="1"/>
<mapEntry key="QT_AUTO_SCREEN_SCALE_FACTOR" value="0"/>
<mapEntry key="QT_LINUX_ACCESSIBILITY_ALWAYS_ON" value="1"/>
<mapEntry key="SESSION_MANAGER" value="local/debianCIRJ:@/tmp/.ICE-unix/899,unix/debianCIRJ:/tmp/.ICE-unix/899"/>
<mapEntry key="SHELL" value="/bin/bash"/>
<mapEntry key="SHLVL" value="0"/>
<mapEntry key="SSH_AGENT_PID" value="796"/>
<mapEntry key="SSH_AUTH_SOCK" value="/tmp/ssh-flTjHC4mExgD/agent.740"/>
<mapEntry key="USER" value="cristhian"/>
<mapEntry key="XAUTHORITY" value="/tmp/xauth-1000-_0"/>
<mapEntry key="XCURSOR_THEME" value="breeze_cursors"/>
<mapEntry key="XDG_CURRENT_DESKTOP" value="KDE"/>
<mapEntry key="XDG_DATA_DIRS" value="/usr/share:/usr/share:/usr/local/share"/>
<mapEntry key="XDG_RUNTIME_DIR" value="/run/user/1000"/>
<mapEntry key="XDG_SEAT" value="seat0"/>
<mapEntry key="XDG_SEAT_PATH" value="/org/freedesktop/DisplayManager/Seat0"/>
<mapEntry key="XDG_SESSION_CLASS" value="user"/>
<mapEntry key="XDG_SESSION_DESKTOP" value="KDE"/>
<mapEntry key="XDG_SESSION_ID" value="3"/>
<mapEntry key="XDG_SESSION_PATH" value="/org/freedesktop/DisplayManager/Session2"/>
<mapEntry key="XDG_SESSION_TYPE" value="x11"/>
<mapEntry key="XDG_VTNR" value="7"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;/&gt;&#10;"/>
</launchConfiguration>
